@charset "UTF-8";

/* Configurações gerais */

* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: aliceblue;
    text-shadow: 1px 1px 4px black;
    padding: 10px;
}