@charset "UTF-8";

body {
    background-color: rgb(31, 31, 47);
}

h1 {
    text-align: center;
    color: aliceblue;
}

p {
    text-align: center;
    text-align: justify;
    color: aliceblue;
}
a {
    margin: auto;
    


}