@charset "UTF-8";

/*Typical Device Breakpoints 
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 769px até 992px
Desktop: 993px até 1200px
Grandes telas: acima de 1200px 
*/

@media print {
    body {
        background-image: url(../imagens/back-print.jpg); /*desnecessário porque não imprime bg*/

    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    main {
        border: 2px solid black;
    }

    main::after {
        content: 'Essa impressão foi feita através do site www.cursoemvideo.com';
        text-decoration: overline;
    }



    #phone {display: none;}
    #pc {display: none;}
    #print {display: block;}
    #tv {display: none;}
    #tablet {display: none;}

}

@media screen and (min-width: 768px) and (max-width: 992px) { /*tablet */
    body {
        background-image: url(../imagens/back-tablet.jpg);

    }
#phone {display: none}
#pc {display: none;}
#print {display: none;}
#tv {display: none;}
#tablet {display: block;}

}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* Desktop */

    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    #phone {display: none;}
    #pc {display: block;}
    #print {display: none;}
    #tv {display: none;}
    #tablet {display: none;}

}

@media screen and (min-width: 1200px) { /*Grandes mídias */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    #phone {display: none;}
    #pc {display: none;}
    #print {display: none;}
    #tv {display: block;}
    #tablet {display: none;}
}